body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

header .logo h1 {
    margin: 0;
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-container img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

.admin-panel {
    margin-top: 30px;
}

.quiz-form, #quiz-list, #visitor-stats {
    margin-bottom: 30px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

#quiz-list ul {
    list-style-type: none;
    padding: 0;
}

#quiz-list li {
    padding: 10px;
    background-color: white;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

#quiz-list button {
    margin-left: 10px;
}
